@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl my-3 text-center font-bold capitalize; 
  }
}

body {
    color: #222;
    height: 100vh;
  }

.custom-toast-container {
  width: 700px; 
  background-color: bisque;
}